# :book: Notes for algo/DS deep-dive

{% for title, subtitles in note_dump.items()|sort(attribute='0')%}
**[{{ title }}]({{ note_file_map[title] }})**
  {% for sub in subtitles %}

  {% if 'NoSubsection' in sub %}
  {% continue %}
  {% endif %}

  - {{ sub }}
  {% endfor %}
{% endfor %}