# :shinto_shrine: Fundamentals :shinto_shrine:

:frog: :thinking: :exploding_head: :bulb: :star_struck: :sunrise:

Quote from [HTDP](https://htdp.org/)
> * ... many elements of the general design recipe apply to the design of algorithms ... The key to designing algorithms is the “generation” step, which often means **dividing up the problem. And figuring out a novel way of dividing a problem requires insight.**
> * ... programmers must thoroughly understand the underlying ideas so that they can code up algorithms and have the program **communicate with future readers.** The best way to get acquainted with the idea is to **study a wide range of examples and to develop a sense for the kinds of generative recursions that may show up in the real world.**

<br/>

## [:book: Notes for algo/DS deep-dive](_notes/README.md)

## :thinking: Problems listed: {{ total_count }} ... :ok_hand: x {{difficulty[':ok_hand:']}} :bulb: x {{difficulty[':bulb:']}} :persevere: x {{difficulty[':persevere:']}} :dizzy_face: x {{difficulty[':dizzy_face:']}} :exploding_head: x {{difficulty[':exploding_head:']}}

{% for folder, contents in content_dump.items()|sort(attribute='0')%}

### [{{ folder_title[folder] }}]({{ folder }}/README.md): {{ cnt_per_chapter[folder] }}

<details><summary>Questions</summary>

{% for content in contents %}
  {% if '##' in content %}
  {{ content }}
  {% else %}
  - {{ content }}
  {% endif %}
{% endfor %}

</details>

{% endfor %}

